<%- include("include/_header.ejs") %>

<main>
    <div class="container text-center">
        <a href="/users" class="border-shadow"><span>Add Entity</span></a>
        <table>
            <thead>
                <tr>
                    <th>Registration</th>
                    <th>PIC</th>
                    <th>PAX</th>
                    <th>Time</th>
                    <th>Icon</th>
                </tr>
            </thead>
            <tbody>
                <%- include('include/_show') %>
            </tbody>
        </table>
    </div>
</main>

<%- include("include/_footer.ejs") %>