<%- include("include/_header.ejs") %>

<main>
    <div class="container text-center">
        <p>Settings</p>
        <form>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location"><br><br>
            <label for="lmethod">Launch Method:</label>
            <input type="text" id="lmethod" name="lmethod"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</main>

<%- include("include/_footer.ejs") %>