<thead>
    <tr>
        <th>Registration</th>
        <th>PIC</th>
        <th>PAX</th>
        <th>Time</th>
        <th>Icon</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td></td>
    </tr>
</tbody>